.idea
cmake-build-debug
ext/pybind11*.a
*.exe
*.lib
.DS_Store
ext_build
nanogui_resources.*
build
CMakeCache.txt
CMakeFiles
.ninja_deps
.ninja_log
build.ninja
rules.ninja
Makefile
example[1-9]
example_icons
*~
nanogui*.so
nanogui*.pyd
libnanogui.so
libnanogui.dylib
.vscode/
*.pyc
resources/nanogui-entypo
